.profile__text {
    color: white;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 336px;
}

@media screen and (max-width: 520px) {
    .profile__text {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-top: 14px;
        max-width: 282px;
    }
}