.elements {
    margin: 0 auto;
    padding: 0;
    max-width: 880px;
    margin-top: 51px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    gap: 20px 17px;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .elements {
        max-width: 581px;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);

    }
}

@media screen and (max-width: 620px) {
    .elements {
        max-width: 282px;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(6, auto);
        margin-top: 36px;
    }
}