.popup__close {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    background: url(../../../images/Close_Icon.svg);
    background-size: cover;
    position: absolute;
    margin-top: -40px;
    margin-left: 438px;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 600px) {
    .popup__close {
        width: 20px;
        height: 20px;
        margin-top: -36px;
        margin-left: 262px;

    }
}