.popup__text {
   padding: 0;
   border: 0;
   width: 358px;
   height: 27px;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   box-sizing: border-box;
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
   font-family: inherit;
   margin: 0 auto;
   margin-bottom: 35px;

}

.popup__text::placeholder {
   color: black;

}

@media screen and (max-width: 600px) {
   .popup__text {
      width: 238px;
   }
}